* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("/images/nightskysmall.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    image-resolution: 72dpi;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 230px;
    background: rgba(0, 0, 0, 0.8);
    border: solid;
    transition: all 0.2s ease;
    z-index: 1;
    font-family: "Comic Sans MS";
}

.sidebar.close {
    width: 70px;
}

.sidebar .logo-details {
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .logo-details img {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 100%;
    margin: 20px;
}

.sidebar .logo-details .logo-name {
    display: flex;
    font-size: 22px;
    color: #fff;
    font-weight: 600;
    overflow: auto;
    scrollbar-width: none;
}

.sidebar .nav-links {
    height: 100%;
    padding: 10px 0 150px 0;
    white-space: nowrap;
    
}

.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar .nav-links li {
    position: relative;
    list-style-type: none;
    
}

.sidebar .nav-links .nav-link:hover {
    background: rgba(50, 50, 50, 0.8);
}

.sidebar .nav-links li .icon-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: auto;
    scrollbar-width: none;
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 70px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 20px;
    transition: all 0.2s ease;
    cursor: pointer;
}

.sidebar .nav-links li.showMenu i.bxs-chevron-down {
    transform: rotate(-180deg);
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link-name {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
    overflow: auto;
    scrollbar-width: none;
}

.sidebar .nav-links li .sub-menu {
    padding: 6px 6px 10px 80px;
    display: none;
    z-index: 1;
}

.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav-links li .sub-menu a {
    color: #fff;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
}

.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: 0;
    margin-top: 0;
    padding: 5px 20px;
    border-radius: 0 6px 6px 0;
    display: none;
    pointer-events: none;
    background: rgba(0, 0, 0, 0.8);
    border: solid;
}

.sidebar.close .nav-links li:hover .sub-menu,
.sidebar.close .nav-links .sub-menu:hover {
    display: block;
    pointer-events: auto;
}

/* show title if closed */
.sidebar .nav-links li .sub-menu .link-name {
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link-name {
    font-size: 18px;
    opacity: 1;
    display: block;
}

.main-section {
    position: relative;
    height: 100vh;
    left: 230px;
    width: calc(100% - 230px);
    transition: all 0.2s ease;
    font-family: "Comic Sans MS";
}

.sidebar.close ~ .main-section {
    left: 70px;
    width: calc(100% - 70px);
}

.main-section .bx-menu {
    font-size: 35px;
    margin: 15px;
    cursor: pointer;
    color: #fff;
}

.main-section .main-content {
    height: 60px;
    display: flex;
    align-items: flex-start;
    color: #fff;
    margin: 0 15px;
}

.main-section .main-content .title {
    font-size: 26px;
    font-weight: 600;
}

/*Projects*/

#escargotModal .modal-content {
    background: rgba(58,48,130,255) !important;
    color: white !important;
    font-family: "Montserrat", sans-serif;
}

#placeholder .modal-content {
    background: black !important;
}

.card {
    background: rgba(0, 0, 0, 0.8) !important;
    border: solid !important;
}

.card:hover {
    background: rgba(50, 50, 50, 0.8) !important;
}

.card-body {
    color: white !important;    
}